<form action="/result">
  Amount Spent:  <input type="text" name="amount" size="35">
  <br><br>
  Gallons Fueled: <input type="text" name="gallons" size="35">
  <br><br>
  <input type="submit">
</form>

  